.experiment
  %h5
    = experiment.title
    =# link_to "Edit", :controller => :compounds, :action => :edit_experiment, :id => @record.id, :experiment_id => experiment.id
      
  - treatments = Treatment.find_all_by_experiment_id_and_compound_id(experiment.id,@record.id)
  - sum_treatment = Treatment.find_by_experiment_id_and_compound_id_and_concentration_id(experiment.id,@record.id,nil)
  - solvent = treatments.collect{ |t| t.solvent}[0]
  - stimulation_indices = treatments.collect{ |t| [ t.measurements, t.concentration]}

  %dl
  - sum_treatment.calculations.each do |calc|
    %dt= calc.property.name
    %dd
      = calc.data 
      = calc.unit.name if calc.unit

  %dt Vehicle
  %dd= solvent.name if solvent

  - stimulation_indices.each do |si|
    - if si[0][0]
      %dt
        Stimulation index
      %dd
        = si[0][0].data unless si[0].blank?
        (
        = si[1].name unless si[1].blank?
        )
